.user-profile {
    position: relative;
    display: inline-block;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    right: 70;
    width: 200px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
}

.user-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.user-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu-item1 {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border: none;
    text-align: left;
    cursor: pointer;
}

.menu-item:hover {
    background-color: #f0f0f0;
}