.dashboard {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  background-color: #f4f4f9;
 /* Light background for better contrast */
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes scaleUp {
  from {
      transform: scale(0.8);
  }
  to {
      transform: scale(1);
  }
}

.stats-card {
  flex: 1 1 calc(25% - 20px);
  color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  animation: fadeInUp 0.5s ease-in-out;
}

.stats-card h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  font-family: 'Georgia', serif;
  animation: scaleUp 0.5s ease-in-out;
}

.stats-card p {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.stats-card.total-contacts {
  background-color: #9e7234; /* Purple */
}

.stats-card.active-deals {
  background-color: #7e551a; /* Orange */
}

.stats-card.tasks-due {
  background-color: #87612d; /* Yellow */
}

.stats-card.new-leads {
  background-color: #83581d; /* Teal */}
  .stats-card.upcoming-appointments {
    background-color: #705939; /* Pink */
}

.stats-card.recent-activities {
    background-color: #8f6120; /* Light Blue */
}

.stats-card.team-performance {
    background-color: #a17941; /* Green */
}

.stats-card.customer-feedback {
    background-color: #643b0282; /* Dark Purple */
}

.stats-card.sales-targets {
    background-color: #886029; /* Amber */
}

.stats-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(45deg);
  transition: opacity 0.3s;
}

.stats-card:hover::before {
  opacity: 0.5;
}

.stats-card:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}